form#chat-input.form-inline.row
  .form-group.col-xs-8.col-xs-offset-2
    textarea#message-text-input.form-control(type='text', rows="3", autocomplete="off", maxlength='255', placeholder='send a message', name='text')
  .col-xs-2
    button.btn.btn-primary(type='submit') Send
